.app-container {
  width: 100vw;
  height: 100vh;
}

.circle-bubble {
  margin-top: 50px;
  width: 100%;
}

.circle-bubble .circle {
  border-radius: 50%;
  background-color: cyan;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle-bubble .circle.active-parent {
  background-color: #000fff;
  color: #fff;
}

.circle-bubble .circle.has-parent {
  background-color: #000658;
  color: #fff;
}

.circle-bubble-left, .circle-bubble-right {
  position: relative;
  min-height: 45px;
  width: 50%;
  float: left;
}

.circle-bubble + .circle-bubble-right {
  margin-left: 50%;
}

.circle-bubble-left::before {
  content: '';
  width: 70px;
  height: 2px;
  transform: rotate(-50deg);
  background-color: #000;
  position: absolute;
  top: 24px;
  right: 0px;
}

.circle-bubble-right::before {
  content: '';
  width: 70px;
  height: 2px;
  transform: rotate(50deg);
  background-color: #000;
  position: absolute;
  top: 24px;
  left: 0px;
}

.input-form {
  display: flex;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
}

.input-field {
  height: 35px;
  width: 365px;
  margin-right: 30px;
  padding: 5px 15px;
  box-sizing: border-box;
  outline: none;
}

.form-submit {
  height: 35px;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  background: blue;
  color: #fff;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}